# STRING METHOD

In [64]:
Name = "Kainat Sarfaraz"
father_name = "Sarfaraz Uddin"
age = '25'
qualification = "Biomedical Engineer" 
Course = "DSAI BATCH 04"
Student_Card = """
STUDENT CARD
name: """+str(Name)+"""
father name: """ +str(father_name)+"""
Age: """+str(age)+"""
Qualification: """+str(qualification)+"""
Course:"""+str(Course)

print(Student_Card)

STUDENT CARD
name: Kainat Sarfaraz
father name: Sarfaraz Uddin
Age: 25
Qualification: Biomedical Engineer
Course:DSAI BATCH 04

# INDEXING METHOD

In [70]:
Name = "Kainat Sarfaraz"
father_name = "Sarfaraz Uddin"
age = '25'
qualification = "Biomedical Engineer" 
course = "DSAI BATCH 04"
Student_Card = """
STUDENT CARD
Name: {0}
Father Name: {1}
Age: {2}
Qualification:{3}
Course: {4}""".format(Name,father_name,age,qualification,course)

print(Student_Card)

STUDENT CARD
Name: Kainat Sarfaraz
Father Name: Sarfaraz Uddin
Age: 25
Qualification:Biomedical Engineer
Course: DSAI BATCH 04

# IMPORTING OUTSOURCED DATA

In [27]:
import pandas as pd
import numpy as np
df = pd.read_excel("data.xlsx")
df.head(7)

   id    name   fname        course
0   1   Ahmed  Hunain       Python3
1   2  junaid   Iqbal        Python
2   3  Rashid   Imran            AI
3   4   Qasim   Yasir        Python
4   5  Konain  Nusrat  Data Science
5   6   Yasir  Rashid        Python
6   7   Jasim    Abid        Python

In [55]:
for id,name,fname,course in df.values:
    
    student_card= f"""
    student id = {id}
    Name: {name}
    Father Name: {fname}
    course: {course}
    """
    
    print(student_card)
    print('---------------')

    student id = 1
    Name: Ahmed
    Father Name: Hunain
    course: Python3

---------------

    student id = 2
    Name: junaid
    Father Name: Iqbal
    course: Python

---------------

    student id = 3
    Name: Rashid
    Father Name: Imran
    course: AI

---------------

    student id = 4
    Name: Qasim
    Father Name: Yasir
    course: Python

---------------

    student id = 5
    Name: Konain
    Father Name: Nusrat
    course: Data Science

---------------

    student id = 6
    Name: Yasir
    Father Name: Rashid
    course: Python

---------------

    student id = 7
    Name: Jasim
    Father Name: Abid
    course: Python

---------------

# F" VARIABLE METHOD

In [72]:
Name = "Kainat Sarfaraz"
father_name = "Sarfaraz Uddin"
age = '25'
qualification = "Biomedical Engineer" 
course = "DSAI BATCH 04"
Student_Card = f"""
STUDENT CARD
Name: {Name}
Father Name: {father_name}
Age: {age}
Qualification:{qualification}
Course: {course}"""

print(Student_Card)

STUDENT CARD
Name: Kainat Sarfaraz
Father Name: Sarfaraz Uddin
Age: 25
Qualification:Biomedical Engineer
Course: DSAI BATCH 04

# OLD METHOD OF FORMATTING

In [76]:
Name = "Kainat Sarfaraz"
father_name = "Sarfaraz Uddin"
age = 25
qualification = "Biomedical Engineer" 
course = "DSAI BATCH 04"
Student_Card="""
STUDENT CARD
Name: %s
Father Name: %s
Age: %d
Qualification: %s
Course: %s""" %(Name,father_name,age,qualification,course)

print(Student_Card)

STUDENT CARD
Name: Kainat Sarfaraz
Father Name: Sarfaraz Uddin
Age: 25
Qualification: Biomedical Engineer
Course: DSAI BATCH 04

# COMMANDS OF FORMATTING TEXT

### first character to uppercase

In [127]:
a="Kainat Sarfaraz"
print(a.capitalize())

Kainat sarfaraz

### expand tab size

In [115]:
a = """Name: \t Kainat Sarfaraz"""
print(a)
print(a.expandtabs(50))

Name: 	 Kainat Sarfaraz
Name:                                              Kainat Sarfaraz

### translate string

In [134]:
a.translate(())

'Kainat Sarfaraz'

### swap the font case

In [135]:
a="kainat sarfaraz"
x=a.swapcase()
print(x)

KAINAT SARFARAZ

### text to lower case

In [136]:
print(a.casefold())

kainat sarfaraz

### text to center

In [137]:
print(a.center(50))

                 kainat sarfaraz

### number of time specific value repeats

In [142]:
print(a.count("a"))

5

### encoding

In [146]:
a.encode("cp1252")

b'kainat sarfaraz'

### true or false statement

In [147]:
a.endswith("raz")

True

### find text in string

In [155]:
a.find("a")
a.index("a")

1

### strip function

In [158]:
a="             kainat sarfaraz  "
print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())

             kainat sarfaraz
kainat sarfaraz
kainat sarfaraz
             kainat sarfaraz

### first letter of each word to uppercase

In [159]:
print(a.title())

             Kainat Sarfaraz

### split lines in the text

In [163]:
a="kainat \n sarfaraz"
print(a.splitlines())

['kainat ', ' sarfaraz']

### justify text

In [165]:
a="kainat sarfaraz"
print(a.rjust(20))

     kainat sarfaraz

### replace any word with another

In [168]:
print(a.replace("kainat","fatima"))

fatima sarfaraz

### define the nature of string

In [173]:
a="7089033"
b="ff3434"
c="kainat"
d="kainat246"
print(a.isdigit())
print(b.isnumeric())
print(c.isalpha())
print(d.isalnum())

True
False
True
True